<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aditya.needyfe">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".A_SplashScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".B_Categories" />
        <activity android:name=".C_About_us" />
        <activity android:name=".D_Our_team" />
        <activity android:name=".E_We_Hire" />
        <activity android:name=".F_Contact_us" />
        <activity android:name=".G_C_Baybee"></activity>
    </application>

</manifest>